<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fo-dicom.Desktop" version="4.0.8" targetFramework="net48" />
  <package id="Leadtools.Annotations" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Annotations.WinForms" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Dicom" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Dicom.Pacs.Scu" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Formats.Raster.Common" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Image.Processing" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Jpeg2000" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Kernel" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Legacy" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Medical.Viewer.WinForms" version="22.0.0.5" targetFramework="net48" />
  <package id="Leadtools.Pdf" version="22.0.0.5" targetFramework="net48" />
</packages>